<table class="table table-striped">
    <tr>
        <th>from</th>
        <th>to</th>
        <th>at</th>
    </tr>
    <tr ng-repeat="stop in journey.data">
        <td>{{ stop.referrer == "" ? 'none' : stop.referrer }}</td>
        <td>{{ stop.visitedURL}}</td>
        <td>{{ stop.createdAt | date :  "dd.MM.y h:m:s" }}</td>
    </tr>
</table>
<table class="table table-striped">
    <tr>
        <th>policy ID</th>
        <th>policy number</th>
        <th>transaction reference number</th>
        <th>UW decision</th>
        <th>at</th>
    </tr>
    <tr ng-repeat="payment in payment.data">
        <td>{{ payment.policyId  }}</td>
        <td>{{ payment.policyNum  }}</td>
        <td>{{ payment.transactionRefNum  }}</td>
        <td>{{ payment.uwDicision  }}</td>
        <td>{{ payment.createdAt | date :  "dd.MM.y h:m:s" }}</td>
    </tr>
</table>
<!-- <pre>{{ payment | json }}</pre> -->
