<style>
    table, tr, td {
         /*border: 1px solid black;*/
    }
</style>
<table>
    <tr>
        <th>from</th>
        <th>to</th>
        <th>at</th>
    </tr>
    <tr ng-repeat="stop in journey.data">
        <td>{{ stop._id.referrer == "" ? 'none' : stop._id.referrer }}</td>
        <td>{{ stop._id.visitedURL}}</td>
        <td>{{ stop._id.createdAt | date :  "dd.MM.y h:m:s" }}</td>
    </tr>
</table>
<table>
    <tr>
        <th>policy ID</th>
        <th>policy number</th>
        <th>transaction reference number</th>
        <th>UW decision</th>
        <th>at</th>
    </tr>
    <tr ng-repeat="payment in payment.data">
        <td>{{ payment._id.policyId  }}</td>
        <td>{{ payment._id.policyNum  }}</td>
        <td>{{ payment._id.transactionRefNum  }}</td>
        <td>{{ payment._id.uwDicision  }}</td>
        <td>{{ payment._id.createdAt | date :  "dd.MM.y h:m:s" }}</td>
    </tr>
</table>
<pre>
<!-- {{ payment.data | json }} -->
</pre>
