<!-- <div class="">
    Reports
</div> -->
<div class="" ng-controller="MainCtrl">

    <!-- <datetimepicker data-ng-model="data.date"></datetimepicker> -->
    <form ng-submit="getData()">
        <!-- <input placeholder="startDate" type="text" name="startDate" ng-model="startDate"> 
        <datetimepicker data-ng-model="startDate"></datetimepicker>
        <input placeholder="endDate" type="text" name="endDate" ng-model="endDate">
        -->
        <input date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date" options=""/>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <br>
    <button export-to-csv type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-download-alt"></span> Download
    </button>
    
    <table class="table table-striped">
        <tr>
            <th>cookie ID</th>
            <th>Earliest Visited URL</th>
            <th>Earliest Time Stamp</th>
            <th>Policy Number</th>
            <th>Policy ID</th>
            <th>UW Deicision</th>
            <th>Transactional Ref Number</th>
            
        </tr>

        <tr ng-repeat="cookies in reports">
            <td><a href="/#/journey/{{ cookies._id}}">{{ cookies._id}}</a></td>
            <!--
            <td>
                <span style="display:{{ !$index ? 'inline' : 'none' }}" ng-repeat="cookie in cookies.flow | orderBy : 'createdAt'">{{  cookie.visitedURL }} <br></span>
            </td>
            <td>
                <span style="display:{{ cookie.visitedURL.indexOf('policybazaar') !== -1 ? 'inline' : 'none' }}" ng-repeat="cookie in cookies.flow | orderBy : 'createdAt'">{{  cookie.createdAt | date :  "dd.MM.y h:m:s" }} <br></span>
            </td>
            <td>
                <span style="display:{{ cookie.visitedURL.indexOf('policybazaar') == -1 ? 'inline' : 'none' }}" ng-repeat="cookie in cookies.flow | orderBy : 'createdAt'">{{  cookie.createdAt | date :  "dd.MM.y h:m:s" }} <br></span>
            </td>
            <td>
                <span style="display:{{ !$index ? 'inline' : 'none' }}" ng-repeat="cookie in cookies.flow | orderBy : 'createdAt'">{{  cookie.visitedURL.indexOf('policybazaar') !== -1 ? 'PB' : 'religare' }} <br></span>
            </td>
            -->
            <td>{{ cookies.flow.visitedURL}}</td>
            <td>{{ cookies.flow.createdAt | date :  "dd.MM.y h:m:s a" }}</td>
            <td>{{ cookies.payment.policyNum }}</td>
            <td>{{ cookies.payment.policyId }}</td>
            <td>{{ cookies.payment.uwDicision }}</td>
            <td>{{ cookies.payment.transactionRefNum }}</td>

        </tr>
    </table>
    <!-- <pre>{{reports | json}}</pre> -->
</div>
